<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/header.ejs')-%>
</head>
<body>
    <%-include('../partials/navbar.ejs')-%>

    <div class="container mt-4">
        <form action="/blogs/addblog" method="post" enctype="multipart/form-data">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="title" name="title" placeholder="name@example.com">
                <label for="title">Title</label>
              </div>
              <div class="form-floating mb-3">
                <!-- <input type="textarea" size="100" class="form-control" id="description" name="description" placeholder="Password"> -->
                <textarea name="description" id="description" class="form-control" placeholder="Description" cols="30" rows="10"></textarea>
                <label for="description">Description</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="author" name="author" placeholder="Password">
                <label for="author">author</label>
              </div>
              <div class="form-floating mb-3">
                <input type="file" class="form-control" id="coverImg" name="coverImg" placeholder="Password">
                <label for="coverImg">Cover Image</label>
              </div>

              <button type="submit" class="btn btn-primary">Add+</button>
        </form>
    </div>

    <%-include('../partials/footer.ejs')-%>
</body>
</html>